body {
    width:100%;
    height:100%;
    background: #000;
}
.container-fluid{
    margin:0 auto;
    padding-right:0px;
    padding-left:0px;
    overflow: hidden;
}

#overlay-toggle {
    position: absolute;
    right:360px;
    z-index:2;
    background-color: rgba(0,0,0,0.5);
    cursor:pointer;
    color:white;
}

/*Need to create a class for the overlays containers*/
#overlay-container {
    position: absolute;
    display: inline-block;
    width: 359px;
    height: 35%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#mt-container {
    position: relative;
    top:0;
    list-style:none;
    min-height: 10%;
    max-height: 80%;
    overflow:auto;
    margin:0 auto;
}

#search-label {
    margin: 0 auto;
    text-align: right;
    position: absolute;
}

#search-button {
    display: inline-block;
    position: absolute;
    height: 5vmin;
}

li {
    color:white;
}

#mt-container li:hover:not(.header) {
    background-color:grey; /* Add a hover effect to all links, except for headers */
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #e7a007;
} 
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} 
::-webkit-scrollbar-button {
    background-color: #ffffff;
} 
::-webkit-scrollbar-corner {
    background-color: black;
} 

/*Need to create a class for the overlays containers*/
#minimap-overlay {
    position: absolute;
    display: inline-block;
    bottom: 25px;
    left:37.5%;
    width: 30%;
    height: 35%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#minimap-toggle {
    position: absolute;
    bottom:0px;
    left:50%;
    z-index:2;
    background-color: rgba(0,0,0,0.5);
    cursor:pointer;
    color:white;  
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    font-size: 10px;
}
.sweep {
    color: transparent;
    display: inline-block;
    position: absolute;
    padding: 0 0;
    margin: 0;
    height: 0.8rem;
    width: 0.8rem;
    border: 0.25rem solid rgba(255, 255, 0, 0.79);
    border-radius: 50%;
    box-sizing: content-box;
    background-color: transparent;
    font-size: 10px;
}
.z-depth-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);

}

.responsive-img {
    width:100%;
    height:100%;
    opacity: 80%;
}

#showcase_iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:0;
}